<div class="container" >
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <p>    
                <b>Name : </b>{{product.name}}<br>
                <b>Price : </b>{{product.price | currency:"INR"}}<br>
                <b>Description : </b>{{product.description}}
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="{{product.image}}" alt="" height="400" width="auto" style="float: right;">
        </div>
    </div>
    <a href="assignment6/product01"><b>Go To Product</b></a>
</div>
<hr>