<h3>Choose Button to view Assignment</h3>
<div class="text-center">
    <button  routerLink="employee2" class="btn btn-secondary">Assignment 1st</button>
    <button  routerLink="employee3" class="btn btn-secondary">Assignment 2nd</button>
    <button  routerLink="employee4" class="btn btn-secondary">Assignment 3th</button>
    <button  routerLink="assignment6" class="btn btn-secondary">Assignment 4th</button>
    <button  routerLink="ValidationTemplate" class="btn btn-secondary">Assignment 5th</button>
    <button  routerLink="ValidationReactive" class="btn btn-secondary">Assignment 6th</button>
</div>
<hr>
<router-outlet></router-outlet>