.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
    width: 5rem;
    align-items: center;
    justify-content: center;
}
